.clienttable-wrapper {
    width: 100%;
    overflow:hidden
  }
  
  .clienttable {
    display: block;
  font-size: 15px;
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px #ccc;
    border-radius: 10px;
    /* white-space: nowrap; */
    /* width: 100em; */
    /* max-width: 30%; */
    margin: 0px;
    table-layout: auto;
    overflow: auto;
  }
  
  .clienttable thead {
    background-color: #ccc;
    color: #222;
  }
  
  .clienttable th,
  .clienttable td {
    padding: 0.8rem;
  }
  
  .clienttable td {
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .clienttable tbody tr:hover {
    background-color: #eee;
  }
  
  .expand {
    width: 100%;
  }
  
  .label {
    border-radius: 3px;
    padding: 0.3rem;
    color: white;
  }
  

  .actions {
    display: flex;
    justify-content: space-around;
  }
  
  .actions svg {
    cursor: pointer;
  }
  
  .delete-btn {
    color: #e10d05;
  }