.modal-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    border-radius: 5px;
    padding: 2rem;
    background-color: white;
    width: 35em;
    height: 478px;
    overflow-y: scroll;
  }
  
  .modal .btn {
    display: block;
    margin: auto;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .form-group input,
  .form-group textarea,
  .form-group select {
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 0.9rem;
  }
  
  .form-group label {
    margin-bottom: 0.2rem;
    font-size: 0.7em;
    color: #673AB7;
  }
  .row{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* background-color: #2196F3; */
    /* padding: 10px; */
    grid-gap: 20px;
  }
  
  .error {
    background-color: #f8d7da;
    color: #df4759;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
  }